.main {
  max-width: 120rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    text-decoration: none;
    color: #1a191e;
    font-size: 24px;
    font-weight: 700;

    span {
      font-size: 60px;
      line-height: 0;
      color: #e74a86;
    }
  }
}

.header {
  z-index: 1;
  right: 10px;
  position: fixed;

  .button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e74a86;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }

  .burger {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}
