.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 40px;

  .icon {
    color: white;
    transition: all 0.2s;

    &:hover {
      color: #e74a86;
    }
  }
}

.linkedin {
  fill: white;

  &:hover {
    color: #e74a86;
    fill: #e74a86;
  }
}
