.link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: clamp(2rem, 1.5813rem + 1.5764vw, 3rem);

  .indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -30px;
  }
}
