.main {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  opacity: 1;
  background-image: radial-gradient(
      #1a191e 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    radial-gradient(#1a191e 0.7000000000000001px, #ffffff 0.7000000000000001px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;

  .logo {
    text-decoration: none;
    color: #1a191e;
    font-size: clamp(1rem, 0.9163rem + 0.3153vw, 1.2rem);
    font-weight: 700;

    span {
      font-size: clamp(2rem, 1.8325rem + 0.6305vw, 2.4rem);
      line-height: 0;
      color: #e74a86;
    }
  }
}

.grid {
  display: block;

  @media (max-width: 1023px) {
    margin-top: 3rem;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  color: #1a191e;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 450px) and (max-width: 1023px) {
    align-items: center;
  }

  h2 {
    color: #e74a86;
    line-height: 0;
    font-size: 2rem;
  }

  h1 {
    font-size: clamp(3rem, 2.1626rem + 3.1527vw, 5rem);

    span {
      color: #02ddce;
    }
  }

  p {
    margin-top: 40px;
    max-width: 30rem;
    position: relative;
    margin-left: 35px;
    font-size: clamp(1rem, 0.7906rem + 0.7882vw, 1.5rem);
    color: #404040;

    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 20px;
      background-color: #1a191e;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin: 4rem 0;

    .talk {
      box-shadow: 3px 2px 59px -20px rgba(26, 25, 30, 1);
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      background-color: #e74a86;
      border: none;
      border-radius: 20px;
      color: white;
      padding: 20px;
      text-decoration: none;
      font-weight: 700;
      font-size: clamp(0.9rem, 0.8163rem + 0.3153vw, 1.1rem);
      cursor: pointer;

      span {
        margin-left: 8px;
      }

      &.document {
        background-color: transparent;
        color: #1a191e;
      }
    }
  }
}

.img {
  width: 100%;
  min-height: 56em;
  position: relative;

  img {
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem #1a191e);
  }
}

.scrolldown {
  margin-top: -15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  color: #404040;
}
