@import "@/styles/variables";

.main {
  width: 100%;
  min-height: min-content;
  background-color: $yellow;
}

.grid {
  color: $black;
  display: block;

  margin-top: 5.5rem;

  @media (max-width: 1023px) {
    margin-top: 3rem;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;

  @media screen and (min-width: 450px) and (max-width: 1023px) {
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 1023px) {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      gap: 2rem;
      color: $black;
      transition: all 0.2s;

      &:hover {
        color: $pink;
        fill: $pink;
      }
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      background-color: $pink;
      border: none;
      border-radius: 20px;
      color: white;
      padding: 20px;
      text-decoration: none;
      font-weight: 700;
      font-size: clamp(0.9rem, 0.8163rem + 0.3153vw, 1.1rem);
      cursor: pointer;

      span {
        margin-left: 8px;
      }

      &.document {
        background-color: transparent;
        color: $black;
      }
    }
  }
}

.separator {
  width: 100%;
  height: 3px;
  background-color: $black;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 4rem;

  p {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: clamp(2rem, 1.5813rem + 1.5764vw, 3rem);
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding-bottom: 4rem;
  width: 100%;
}

.servicesLink {
  margin-top: 2.5rem;
  margin-left: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $blue;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      background-color: $pink;
    }
  }
}

.playicon {
  margin-left: -280px;
}
